.dropbtn {
    background: #04aa6d;
    border: none;
    font-size: 17px;
    padding: 17px;
    color: #fff;
  }
  
  .drobdown {
    position: relative !important;
    display: inline-block !important;
  }
  
  .dropdown-content {
    display: none;
    background: #f1f1f1;
    min-width: 160px;
    position: absolute;
    /* left: 30rem; */
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-content a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 17px;
    font-size: 18px;
  }
  
  .dropdown-content a:hover {
    background: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background: #3e8341;
  }

  .menu{
    z-index: 1;
  }

  .dropdowndata{
    z-index: 2;
  }
  