/* .banner{
    background-image: url("../../assets/seedoflife.png");
    background-repeat: no-repeat;
    background-position: -10rem;
    background-size: 30rem;
    background-position-y: 10rem; 
    
} */

.after-slider{
    background-image: url("../../assets/floweroflife.png");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center; 
}

.Mambubythenumbers{

    background-image: url("../../assets/floweroflife.png");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center; 

}

.top-home{
    /* background: linear-gradient(to right,#7926F0, #03BD66), url(https://grainy-gradients.vercel.app/noise.svg); */
    background: #170F58;
}

.top-home-img{
    background-image: url("../../assets/HomePage/tophome-img.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-content{
    background: url("../../assets/floweroflife.png");
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
}

.floweroflife-cardtabs{
    background: url("../../assets/floweroflife.png");
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
}

.MetatronsCube{
    background: url("../../assets/floweroflife.png");
    background-repeat: no-repeat;
    background-size: 15rem;
    background-position: center;
}

.sustain-carousel .slick-dots-bottom li{
    background-color: #170F58;
}

.sustain-carousel .slick-dots-bottom .slick-active button{
    background-color: rgb(42, 165, 52) !important;
}

.sustain-seedoflife{
    background: url("../../assets/floweroflife.png");
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
}

.slider-banner-container{
    background: url("../../assets/HomePage/triangleflip.png");
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: left center;
}

.slider-endsolutions{
    background: url("../../assets/HomePage/triangleflip.png");
    background-repeat: no-repeat;
    background-size: 25rem;
    background-position: right center;
}
.bankname{
    font-size: 2rem;
}

@media only screen and (min-width: 1600px) {
    .bankname{
        font-size: 3rem;
    }

    .bankdescription{
        font-size: 2rem;
    }

    .banner-content{
        font-size: 1.5rem;
    }

    .slider-banner-container{
        height: 55vh;
    }
   

    .Keyfeatures{
        padding-left: 15rem;
    }

    .solution-card-img{
        width: 70%;
        height: 80%;
    }

    .solution{
        height: 20rem;
    }

    .banner-content{
        background: url("../../assets/floweroflife.png");
        background-repeat: no-repeat;
        background-size: 25rem;
        background-position: center;
    }

    .floweroflife-cardtabs{
        background: url("../../assets/floweroflife.png");
        background-repeat: no-repeat;
        background-size: 25rem;
        background-position: center;
    }

    .MetatronsCube{
        background: url("../../assets/floweroflife.png");
        background-repeat: no-repeat;
        background-size: 15rem;
        background-position: left;
    }

    .sustain-des{
        font-size: 1.2rem;
    }

    .sustain-title{
        font-size: 4rem;
    }

    .sustain-seedoflife{
        background: url("../../assets/floweroflife.png");
        background-repeat: no-repeat;
        background-size: 30rem;
        background-position: top;
    }

    .slider-endsolutions{
        background: url("../../assets/HomePage/triangleflip.png");
        background-repeat: no-repeat;
        background-size: 30rem;
        background-position: right center;
    }
    .sustain-img-container{
        height: fit-content;
    }

    .sustain-img-container img{
        height: 50vh;
    }
}