/* .banner{
    background-image: url("../../assets/seedoflife.png");
    background-repeat: no-repeat;
    background-position: -10rem;
    background-size: 30rem;
    background-position-y: 10rem; 
    
} */

.after-slider {
    background-image: url("../../assets/floweroflife.png");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center;
}

.Mambubythenumbers {

    background-image: url("../../assets/floweroflife.png");
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center;

}

.top-home {
    /* background: linear-gradient(to right,#7926F0, #03BD66), url(https://grainy-gradients.vercel.app/noise.svg); */
    background: #170F58;
    border-radius: 1rem;
}

.top-home-img {
    background-image: url("../../assets/HomePage/tophome-img.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-content {
    background: url("../../assets/Artboard\ 1.svg");
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
}

.floweroflife-cardtabs {
    background: url("../../assets/Artboard\ 1.svg");
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
}


.sustain-carousel .slick-dots-bottom li {
    background-color: #170F58;
}

.sustain-carousel .slick-dots-bottom .slick-active button {
    background-color: rgb(42, 165, 52) !important;
}

.sustain-seedoflife {
    background: url("../../assets/HomePage/seedoflife.png");
    background-repeat: no-repeat;
    background-size: 20rem;
    background-position: center;
}

.solution-intro-container {
    background: url("../../assets/Artboard\ 1.svg");
    background-repeat: no-repeat;
    background-position-x: 66rem;
    background-size: 35rem;
    background-position-y: -18rem;
}

.endsolutions {
    background: url("../../assets/Artboard\ 1.svg");
    background-repeat: no-repeat;
    background-position-x: -17rem;
    background-size: 35rem;
    background-position-y: 10rem;
}


.bankname {
    font-size: 1.8rem;
    padding-right: 1rem;
}

.part1-home {
    background: url("../../assets/Artboard\ 1.svg");
    background-repeat: no-repeat;
    background-position-x: 71rem;
    background-size: 25rem;
    background-position-y: 0rem;
}



@media only screen and (min-width: 1600px) {
    .bankname {
        font-size: 2.6rem;
    }

    .bankdescription {
        font-size: 1.1rem;
    }

    .banner-content {
        font-size: 1.1rem;
    }

    .slider-banner-container {
        height: fit-content;
    }


    .solution-card-img {
        width: 70%;
        height: 80%;
    }

    .solution {
        height: 20rem;
    }

    .banner-content {
        background: url("../../assets/HomePage/seedoflife.png");
        background-repeat: no-repeat;
        background-size:0;
        background-position: center;
    }

    .floweroflife-cardtabs {
        background: url("../../assets/Artboard\ 2.svg");
        background-repeat: no-repeat;
        background-size: 25rem;
        background-position: center;
    }



    .sustain-des {
        font-size: 1.2rem;
    }

    .sustain-title {
        font-size: 4rem;
    }

    .sustain-seedoflife {
        background: url("../../assets/HomePage/seedoflife.png");
        background-repeat: no-repeat;
        background-size: 30rem;
        background-position: top;
    }

    /* .slider-endsolutions{
        background: url("../../assets/HomePage/triangleflip.png");
        background-repeat: no-repeat;
        background-size: 30rem;
        background-position: right center;
    } */
    .sustain-img-container {
        height: fit-content;
    }

    .sustain-img-container img {
        height: 50vh;
    }

    
    /* .part1-home {
        margin-top: 5.5rem;   
        margin-bottom: 6.5rem;
    } */

    .part1-home {
        background: url("../../assets/Artboard\ 1.svg");
        background-repeat: no-repeat;
        background-position-x: 102rem;
        background-size: 35rem;
        background-position-y: 0rem;
    }

    .solution-intro-container {
        background: url("../../assets/Artboard\ 1.svg");
        background-repeat: no-repeat;
        background-position-x: 99rem;
        background-size: 40rem;
        background-position-y: -19rem;
    }

    .endsolutions {
        background: url("../../assets/Artboard\ 1.svg");
        background-repeat: no-repeat;
        background-position-x: -20rem;
        background-size: 40rem;
        background-position-y: 14rem;
    }

    .banner-content {
        background: url("../../assets/Artboard\ 1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}